<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;

    &lt;key&gt;CFBundleIdentifier&lt;/key&gt;
    &lt;string&gt;adtzslowy.xyz.GoUIHelper&lt;/string&gt;

    &lt;key&gt;CFBundleExecutable&lt;/key&gt;
    &lt;string&gt;GoUIHelper&lt;/string&gt;

    &lt;key&gt;CFBundleName&lt;/key&gt;
    &lt;string&gt;GoUIHelper&lt;/string&gt;

    &lt;key&gt;Label&lt;/key&gt;
    &lt;string&gt;adtzslowy.xyz.GoUIHelper&lt;/string&gt;

    &lt;key&gt;MachServices&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;adtzslowy.xyz.GoUIHelper&lt;/key&gt;
        &lt;true/&gt;
    &lt;/dict&gt;

&lt;/dict&gt;
&lt;/plist&gt;</string>
</dict>
</plist>
